<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/styles.css" />

<h1>Mini-Messageboard</h1>
  <div>
    <% users.forEach(user => { %>
      <div class="messageContainer">
        <h2><%= user.userName %></h2>
        <p><%= user.status %></p>
        <a href="/<%= user.id %>/edit">Edit</a>
        <!-- <%- include('edit', ) %> -->
        <%- include('partials/deleteForm', {url: `/${user.id}`}) %>
      </div>
   <% }); %> 
   <a href="/new">Add New User</a>
  </div>